<mat-toolbar color="primary" class="topbar">
    <button mat-icon-button class="example-icon" aria-label="Expand side menu" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span style="margin-left: 1%;">Gestione Ordini</span>
    <span class="spacer">{{todayDate}}</span>
    <button mat-icon-button aria-label="Create new item" >
        <mat-icon>add</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container class="main">
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-selection-list #sideMenu multiple="false">
            <mat-list-option name="ordini-di-oggi" routerLink="/orders">
                <a aria-label="Ordini di oggi"><mat-icon fontIcon="today"></mat-icon>Ordini di oggi</a>
            </mat-list-option>
            <mat-list-option name="gestione-articoli" routerLink="/articles">
                <a aria-label="Gestione articoli"><mat-icon fontIcon="edit"></mat-icon>Gestione articoli</a>
            </mat-list-option>
        </mat-selection-list>
    </mat-drawer>

    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>